<!DOCTYPE html>
<html>
<head>
<title>Coin Flip</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>🪙 Coin Flip Game</h2>

    <form method="POST">
        <input type="number" name="amount" placeholder="Enter coins" required><br>

        <select name="choice" required>
            <option value="">Select</option>
            <option value="heads">Heads</option>
            <option value="tails">Tails</option>
        </select><br><br>

        <button type="submit">Flip Coin 🚀</button>
    </form>
</div>

</body>
</html>
